.header {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 8px;
}

.header > h1 {
    margin: 0;
}

.header > h1:last-of-type {
    font-size: 24px;
    margin: 0;
    line-height: 0;
}