.app-wrapper {
  width: 95%;
  margin: 85px auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

hr {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .app-wrapper {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .app-wrapper {
    width: 75%;
  }
}
